.ActiveQuiz {
	padding: 30px 30px;
	color: #fff;
	border-radius: 2px;
	margin: 0 15px;
	text-align: left;
	background: #5187bd57;
}

.Question {
	display: flex;
	justify-content: space-between;
	font-size: 18px;
	margin: 0 0 30px;
}